# データの永年化
## SQLite
* 軽量データベースを実装するC言語のライブラリ
* サーバー用のプロセスを必要としない、組み込む型のデータベースエンジン.
* 単一のファイルによって管理される(インメモリも可能)

In [2]:
import sqlite3

In [3]:
# DBファイルの保存先パス
path = ' '

# Google Colabの場合
# path = '/content/'

#DBファイル
db_name = 'test.db'

# DB接続の確率
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
### car.db
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |


### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [10]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = "CREATE TABLE cars (id INT , name TEXT, price REAL);"

    # SQL文の実行
    cur.execute(sql)
    
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました')

finally:
    # DSへの接続を閉じる
    conn.close()

エラーが発生しました

## データをDBに挿入する（単一レコード）

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # INSERT INTO テーブル名 VALUES (列に対応したデータをカンマ区切りで);
    # 文字列データを挿入する場合は，シングルクォーテーション(')またはダブルクォーテーション(")で囲む必要がある
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, 'Honda Civic', 2200000),
        (3, 'Ford Focus', 2100000),
        (4, 'Chevrolet Malibu', 2400000)
    ]
    # SQL文の実行
    cur.executemany(sql, cars)
    
    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました')

finally:
    # DSへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #データを参照するSQL
    # SELECT * FROM テーブル名;
    # * の部分は取得したい列の名前を、区切りで指定することもできえう
    sql = "SELECT * FROM cars;"

    # SQL文の実行
    cur.execute(sql)
    
    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました')
    
else:
    for row in cur:
        # 行データ(row)のタプルなので、アンパックして列データを取得)
        id, name, price = row
        print(id , name, price)

finally:
    # DSへの接続を閉じる
    conn.close()

2 Honda Civic 2200000.0
3 Ford Focus 2100000.0
4 Chevrolet Malibu 2400000.0
1 370z 7000000.0

### データの削除

In [26]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE id = 1;
    sql = "DELETE FROM cars WHERE id = 1;"
    sql = "DELETE FROM cars WHERE name = 'Honda Civic';"
    # sql = "DELETE FROM cars WHERE name like '%カレラ';"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データを更新

In [28]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    #データを更新するSQL
    # UPDATE テーブル名 SET 列名 = 新しい値 WHERE 条件;
    sql_update = "UPDATE cars SET price = ? WHERE id = ?;"


    # SQL文の実行
    cur.execute(sql_update, (5000000, 2))
    
    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました')

finally:
    # DSへの接続を閉じる
    conn.close()